*,
*::before,
::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-family: "Geist Mono", monospace;

	font-weight: 400;
	font-style: normal;

	background-color: #e4e4e4;
	color: #1E1E1E;

	margin: 0;
}

h1,
p {
	margin: 0;
}

.btn {
	font-weight: bold;
}

.btn:disabled {
	cursor: not-allowed;
}

.btn.icon-only {
	font-size: 18px;
	flex-shrink: 0;

	width: 38px;
	height: 38px;

	/* padding: 0 !important; */
}

main {
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	height: 100%;
}

.box {
	background-color: #fff;
	padding: 1rem 2rem;

	border-radius: 10px;

	height: 100%;
}

#container {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	min-width: 550px;
}


#money {
	display: flex;
	justify-content: center;
	gap: 0.5rem;

	flex: 1;
}

#money p {
	font-weight: 200;
	font-size: 4rem;

	line-height: 1.1;

	width: fit-content;
}

#settings,
#result {
	width: 100%;
}

#settings,
#action,
#result {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

#pay,
#action {
	flex: 1;
}


#pay,
#action {
	display: flex;
	justify-content: center;
	flex-flow: column;

	gap: 1rem;
}

#pay-form {
	display: flex;
	align-items: center;
	gap: 0.5rem;

	min-width: 200px;
}

#time {
	display: flex;
	align-items: center;

	width: 141px;

}


/* ======= Hide Arrows from input number ======= */

/* Chrome, Safari, Edge, Opera */
#pay-input::-webkit-outer-spin-button,
#pay-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
#pay-input[type=number] {
	-moz-appearance: textfield;
	appearance: none;
}

/* ========================================== */