*,
*::before,
::after {
	box-sizing: border-box;
}

:root {
	--body-background: #e4e4e4;
	--box-background: #fff;
	--font-color: #1E1E1E;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--body-background: #1E1E1E;
		--box-background: #2E2E2E;
		--font-color: #fff;
	}
}

html,
body {
	height: 100%;
}

body {
	font-family: "Geist Mono", monospace;

	font-weight: 400;
	font-style: normal;

	background-color: var(--body-background);
	color: var(--font-color);

	margin: 0;
}

h1,
p {
	margin: 0;
}

.btn {
	font-weight: bold;
}

.btn:disabled {
	cursor: not-allowed;
}

.btn.icon-only {
	flex-shrink: 0;
	width: 38px;
}

main {
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	height: 100%;
}

.box {
	background-color: var(--box-background);
	padding: 1rem 2rem;

	border-radius: 10px;

	height: 100%;
}

.box.full {
	flex: 1;
}

#container {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	min-width: 550px;
}

.container-row {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	width: 100%;
}


#pay,
#action {
	display: flex;
	flex-flow: column;
	justify-content: center;

	gap: 1rem;
}

#pay-form {
	display: flex;
	align-items: center;
	gap: 0.5rem;

	min-width: 200px;
}

/* ======= Hide Arrows from input number ======= */

/* Chrome, Safari, Edge, Opera */
#pay-input::-webkit-outer-spin-button,
#pay-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
#pay-input[type=number] {
	-moz-appearance: textfield;
	appearance: none;
}

/* ========================================== */

#time,
#money {
	display: flex;
	align-items: center;
	justify-content: center;
}

#time {
	width: 141px;
}

#money {
	gap: 0.5rem;

	flex: 1;
}

#money p {
	font-weight: 200;
	font-size: 4rem;

	line-height: 1.1;

	width: fit-content;
}

#options {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#details {
	gap: 1rem;
}

#details,
#details>div {
	display: flex;
	justify-content: center;
}

#details>div {
	flex-direction: column;
	align-items: flex-end;
}

#precision {
	display: flex;
	gap: 1rem;
}

#precision label {
	min-width: max-content;
}

/* ========================================== */

/* =============== RWD ===================== */

@media only screen and (max-width: 680px) {
	#container {
		min-width: 0;
		width: 100%;

		padding: 1rem 2rem;
	}

	.container-row {
		flex-direction: column;
	}

	#result,
	#stats {
		flex-flow: column-reverse;
	}

	.box {
		padding: 0.75rem 1.75rem;
	}

	.box,
	#time {
		width: 100%;
	}

}

@media only screen and (max-width: 550px) {
	#money p {
		font-size: 2.25rem;
	}
}